body {
      background-color: #0000FF;
      color: white;
}

header {

}

h1 {
    height:100px;
    width:100%;
    margin-left:10px;
    color: white;
    font-size: 80px;
    font-family: 'Faster One', cursive;
    }

    p {
      display: none;
      height:60px;
      max-width:50%;
      margin-left:50px;
      margin-right:300px;
      color: white;
      font-family: 'Helvetica';
      font-size: 24px;
    }

h1:hover + p{
    display: block;
}
