
body {
      background-color: #0000FF;
      color: white;
}

header {
    height:100px;
    width:100%;
    margin-left:10px;
    color: white;
    font-size: 8vw;
    font-family: 'Helvetica', cursive;
    }

.container {
  display: flex;
}

.column-left {
  float: left;
  width: 33.333%;
  padding: 5px;
}

.column-right {
  float: right;
  width: 33.333%;
  padding: 5px;
}

.column-center {
  display: inline-block;
  width: 33.333%;
  padding: 5px;
}

h2 {
  /*  height:100px;
    width:100%;
    margin-left:10px;
  */
    color: white;
    font-size: 2vw;
    font-family: 'Helvetica', cursive;
    }

    p {
      display: inline-block;
      color: white;
      font-family: 'Helvetica';
      font-size:1.7vw;
      height: auto;
      padding: 10px;
    }

    a{
      color: white;
    }

}
