
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    cursor:url('../cur1.png'), auto;
    overflow: hidden;
  }

  body {
    background-image: url("../assets/sharedreadings/_Degrade\ Fondo.png");
    /*  filter: drop-shadow(0 0 5rem rgba(100, 255, 100, 1)); */
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: block;
    margin: auto;
  }

 ul{
    float: left;
    z-index: 100 ;
      padding-left: 2%;
      font-family: 'Xanh Mono', monospace;
      font-style: normal;
      font-weight: normal;
      font-size: .8vw;
      color: black;
      line-height: 2.2;
      text-align: justify;
  }

  img {
    display: block;
    
  }

.background{
  z-index: -10 ;
  position: fixed;
  filter: drop-shadow(0 0 10rem rgba(158, 246, 84, 1));
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
}

.background::after{
  content: "";
  clear: both;
  display: table;
}

  .hover {
    pointer-events: none;
    display: inline-block;
    position: absolute;
  }
  
   
  .readingimg {
    /*
    max-width: auto;
    max-height: 90%;
    display: none;
    */
    display: none;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
  }
  
  .readinglink:hover+.readingimg  {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    /*filter: drop-shadow(0 0 10rem rgba(100, 255, 100, 1));*/
    
    }
  

    .txtimg {
      /*
      max-width: auto;
      max-height: 90%;
      display: none;
      */
      display: none;
      margin-top: 3%;
      margin-bottom: auto;
      margin-left: 33%;
      margin-right: auto;
      max-width: 33%;
      align-items: center;
    }
    
    .readinglink:hover+.txtimg  {
      display: block;
      position: absolute;
      top: 0%;
      left: 0%;
      /*filter: drop-shadow(0 0 10rem rgba(100, 255, 100, 1));*/
      
      }


    
    #nav{
      border:none;
      list-style:none;
      margin-left:30%;
      padding:0;
      text-align:center;
    }
    #nav li{
      position:relative;
      display:inline;
    }
    #nav a{
      display:inline-block;
      padding:10px;
    }
    #nav ul{
      position:absolute;
      /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
      left:33%;
      margin:0;
      padding:0;
      text-align:left;
    }
    #nav ul li{
      display:block;
    }
    #nav li:hover ul{
      left:0;
    }
    #nav li:hover a{
      text-decoration:underline;
      background:none;
    }
    #nav li:hover ul a{
      text-decoration:none;
      background:none;
    }
    #nav li:hover ul a:hover{
      text-decoration:underline;
      background:#f1f1f1;
    }
    #nav ul a{
      white-space:nowrap;
      display:block;
      border-bottom:1px solid #ccc;
    }
    a{
      color:#000;
      text-decoration:none;
      font-weight:bold;
    }
    a:hover{
      text-decoration:underline;
      background:none;
    }


    .home {
      float: right;
      padding: 5px;
      position: fixed;
      bottom: 1%;
      right: 1%;
      }
      
#home:hover {
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
      }
